.schedule {
  height: 24rem;
  border: 1px solid darken($brand-gray, 8%);
  border-radius: .5rem;
  margin: .5rem;
  overflow: hidden;

    header {

    }

    .schedule-view {
      background-color: $brand-gray;
      width: 100%;
      height:100%;
      background-color: $brand-blue;
      display: flex;
      border-bottom: 1px solid $brand-green;

      .schedule-week {
        max-width: 7500px;
        min-width:100px;
        border: 1px solid $brand-purple-accent;
        overflow-x: auto;
        display: flex;
        flex-direction: row;

        .schedule-day {
          background-color: darken($brand-gray, 8%);
          color: $brand-white;
          //padding: 1em;
          min-width: 100px;
          height: 100%;
          border-right: 1px solid $brand-green;
          display: flex;
          flex-direction: column;
          flex: 1;
          overflow-x: auto;

          &:nth-child(even) {
            background-color: darken($brand-gray, 4%);
          }

          h3 {
            background: $brand-green;
            color: $brand-white;
            padding: 1% 0;
            font-size: 0.7rem;
            overflow: hidden;
            color: white;
            border-bottom: 1px solid $brand-green;
          }
        }
      }
    }
}
