.schedule {
  height: 32rem;
  border: 1px solid darken($brand-gray, 8%);
  border-radius: .5rem;
  margin: .5rem;
  overflow: hidden;

    header {
      color: $brand-black;
      background-color: $brand-gray;
      border-bottom: 1px solid darken($brand-gray, 8%);
    }

    .schedule-view {
      background-color: $brand-gray;
      width: 100%;
      height:100%;
      display: flex;
      flex-direction: column;

      .schedule-week {
        width: 100%;
        height: 70%;
        overflow-x: auto;
        display: flex;
        flex-direction: row;

        .schedule-day {
          background-color: darken($brand-gray, 8%);
          color: $brand-black;
          //padding: 1em;
          // min-width: 100px;
          min-width: 40%;
          height: 100%;
          border-right: 1px solid lighten($brand-purple-accent, 32%);
          display: flex;
          flex-direction: column;
          flex: 1;
          overflow-x: auto;

          &:nth-child(even) {
            background-color: darken($brand-gray, 4%);
          }

          h3 {
            background: lighten($brand-purple-accent, 32%);
            color: $brand-blue;
            padding: 1% 0;
            font-size: 1rem;
            padding: .25rem;
            overflow: hidden;
            color: white;
            border-bottom: 1px solid lighten($brand-purple-accent, 32%);
          }
        }
      }

      .schedule-details {
        height: 30%;
        background-color: $brand-gray;
        padding: .5rem;

        .schedule-summary {
          padding: .25rem;
        }

        .schedule-extra {
          padding: .25rem;

          .schedule-extra-details {
            > span {

            }
          }
        }
      }
    }
}

.schedule-event {
  padding: .25rem;
  margin: .25rem;
  background-color: $brand-white;
  border: 1px solid darken($brand-gray, 16%);
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  cursor: pointer;
  transition: .7s border;

  .schedule-event-id {

  }
}
