button,
.button {
  background-color: $brand-white;
  border: 0;
  border-radius: .25rem;
  color: $brand-black;
  padding: .5rem 1rem;
  margin: 0 .25rem;
  text-decoration: none;
  cursor: pointer;
}

.button-cta {
  font-size: calc(0.5rem + 2vw);

}

.button--round {
  border-radius: 1.25rem;
}

.button--color-green {
  background-color: $brand-green-alt;
  color: $brand-white;
}

.register-button {

}

.signin-button, .signout-button {

}
