@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900|Varela+Round);.Campaign-list {
  width: 100%;
  background: rgb(42, 42, 42);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow: hidden;
}
.Campaign-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden
}

.Campaign-header {
  width: 100%;
  height: 5%;
  background: black;
  color: white;
  padding: 1% 0;
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.Campaign-item {
  width: 100%;
  height: 50px;
  background: rgb(35, 69, 100);
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Campaign-item-id {
  height: 10px;
  width: 10px;
  padding: 1%;
  margin-left: 1%;
  background: rgb(1, 133, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

.Campaign-item-title {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%; 
  color:white;
}

.Campaign-stats {
  width:100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Campaign-stat {
  height: 150px;
  min-width: 150px;
  background: rgb(108, 108, 108);
  margin: 1%;
  display: flex;
  border-radius: 5px;
}

.Campaign-stats-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}

.Campaign-add-wrapper {
  width:100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top:0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load 1s;
}

.Campaign-add-form {
  width: 50%;
  background: rgb(230, 230, 230);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 300px;
  border: 1px solid rgb(220, 220, 220);
}

.Campaign-add-form-header, .Campaign-add-form-header-info {
  width: 100%;
  background: rgb(42, 42, 42);
  color: white;
  border-bottom: 1px solid white;
}

.Campaign-add-form-header-info {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  padding: 1%;
  flex-wrap: nowrap;
  overflow: hidden;
}

.Campaign-add-form-content {

  overflow-y: auto;
  overflow-x: hidden;
  
  width: 100%;
  max-height: 400px;
}
.Campaign-add-form-controls {
  background: orange;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1%;
}

.Campaign-add-rule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1%;
  width: 100%;
  padding: 0 5%;
}

.Campaign-add-rule-header {
  width: 100%; 
  cursor: pointer; 
  font-weight: 700; 
  margin-bottom: 1%; 
  padding: 0 2%; 
  border-bottom: 1px solid black;
  background: rgb(243, 159, 2);
}

.Campaign-add-rule-header:hover {
  background: orange;
}

.Campaign-add-rule-add-btn{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px; 
  color: white;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid black;
}

.Campaign-add-rule-add-btn {
  background: green;  
}
.Campaign-add-rule-add-btn:hover {
  border: 1px solid royalblue;  
}

.Campaign-add-rule-remove-btn {
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: flex-end;
}

.Campaign-add-rule-remove-btn span {
  color: white;
  transition: 0.5s color;
  cursor: pointer;
}

.Campaign-add-rule-remove-btn span:hover {
  color: red;
}


.Campaign-add-rule-item {
  flex:1;
  display: flex;
  padding: 0 1%;  
  background: rgb(55, 55, 57);
  position: relative;
  color: white;
  border: 1px solid rgb(0, 0, 0);
  flex-wrap: nowrap;
}

.Campaign-add-rule-wrapper {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Campaign-add-rule-display {
  width: 90%;
  position: relative;
  background: blue;
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Campaign-add-info {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
}

.Campaign-add-info input,textarea, select {
  flex: 1;
  margin  : 1%;
  padding: 0 5px;
}

#rule-input, #tag-input {
  flex: 1;
  
}
textarea {
  flex: 1;
  resize:none;
  height: 100px;
  display: flex;
}

@keyframes load {
  from{opacity: 0}
  to{opacity: 1}
}*, *:before, *:after {
  box-sizing: border-box; }

html,
body,
main,
header,
footer,
aside,
section,
div,
span,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
form,
input,
textarea,
label {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Varela', sans-serif; }

.hero-heading {
  font-family: 'Varela', sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  text-shadow: 0 0.125em 0.25em rgba(17, 0, 17, 0.6); }

img {
  height: auto;
  width: 100%; }

header {
  background-color: #101;
  color: #fff; }

footer {
  background: #101;
  padding: 1rem;
  display: flex;
  color: #fff;
  justify-content: flex-end; }

.footer-version {
  margin-left: 0.5rem; }

.header-container {
  display: flex;
  flex-direction: row;
  padding: 1rem; }
  .header-container > a,
  .header-container > .app-header-logo,
  .header-container > .app-header-menu,
  .header-container > .app-header-authentication {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 2; }

.app-header-logo {
  height: 100%;
  position: relative;
  flex: 0; }
  .app-header-logo > img {
    height: 6rem;
    width: auto; }

.profile-icon--round {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 100%; }

.app-header-menu {
  text-align: center; }
  .app-header-menu .app-header-authentication {
    justify-content: center; }

.app-header-authentication {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.header-sidebar-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  background-color: #fff;
  border-bottom: 1rem solid #fff; }

.header-sidebar-button {
  background-color: #18cc72;
  color: #f7f9f8;
  padding: .5rem 1rem;
  margin: .5rem;
  margin-top: .5rem !important;
  display: inline-block;
  font-size: 1.25rem; }
  .header-sidebar-button:hover {
    cursor: pointer; }
  .header-sidebar-button:active {
    background-color: #00aa5d;
    select: false; }

.header-settings-button {
  background-color: #18cc72;
  color: #f7f9f8;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 0 1.25rem 125rem 0;
  font-size: 1.25rem; }
  .header-settings-button:hover {
    cursor: pointer; }
  .header-settings-button:active {
    background-color: #00aa5d;
    select: false; }

.search-bar {
  padding: .5rem;
  background-color: #18cc72; }

button,
.button {
  background-color: #fff;
  border: 0;
  border-radius: .25rem;
  color: #101;
  padding: .5rem 1rem;
  margin: 0 .25rem;
  text-decoration: none;
  cursor: pointer; }

.button-cta {
  font-size: 1.65rem; }

.button--round {
  border-radius: 1.25rem; }

.button--color-green {
  background-color: #00aa5d;
  color: #fff; }

.hero-cta {
  background-color: #f7f9f8;
  padding: 2rem 1rem 0 1rem;
  -webkit-clip-path: polygon(0 0, 1600px 13%, 1600px 100%, 0 100%);
  clip-path: polygon(0 0, 1600px 13%, 1600px 100%, 0 100%); }

.hero-message {
  background-color: #171738;
  background-image: url("http://localhost:3000/images/unsplashBack1.png");
  background-position: right top;
  background-size: cover;
  color: #f7f9f8;
  height: 120vw;
  min-height: 50%;
  padding-bottom: 2rem;
  text-align: center; }

.hero-metric {
  background-color: #fff;
  border: 1px solid #e0e8e4;
  border-radius: .25em;
  box-shadow: 0 4px 4px 0 #e0e8e4;
  margin: 1rem 0;
  padding: 1rem; }
  .hero-metric h2 {
    margin-bottom: .5rem;
    text-align: center; }
  .hero-metric p {
    margin-top: .5rem;
    padding: .5rem;
    font-size: 18px; }
  .hero-metric img {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    width: 50%; }

.hero-anchor {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  text-shadow: -0.5px 0 #101, 0 0.5px #101, 0.5px 0 #101, 0 -0.5px #101;
  border: 0.25rem solid #fff;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  outline: none; }
  .hero-anchor:hover {
    text-decoration: underline; }

.hero-heading {
  margin: 0 auto;
  padding: 4rem;
  text-align: center; }

.push-up {
  margin-top: -4rem;
  z-index: 2; }

.align--center {
  margin: 0 auto; }

.sticky--top-left {
  position: absolute;
  top: 0;
  left: 0; }

.flex-list {
  display: flex; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.controlpanel {
  margin: 0 auto; }

.sidebar {
  height: 100%;
  display: flex;
  background-color: #f7f9f8;
  position: absolute;
  z-index: 100;
  transition: 0.1s width;
  justify-content: flex-start;
  align-content: flex-end;
  flex-direction: column;
  overflow: hidden; }
  .sidebar input {
    padding: .25rem;
    margin: .25rem 0 .5rem 0; }

.settings-block-item {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center; }

.settings-profile-link {
  padding-top: 1rem;
  width: 4rem;
  height: auto; }
  .settings-profile-link .profile-icon--round {
    width: 8rem;
    height: 8rem;
    margin-left: 3.4rem; }

.Settings-profile:hover {
  color: green; }

.inline-list > * {
  display: inline-block; }

.account-list {
  position: relative;
  padding: 1rem;
  background-color: #101;
  border-bottom: 1rem solid #f7f9f8;
  color: #f7f9f8;
  padding-left: 11rem; }
  .account-list > div > div > div:first-of-type {
    border: 0.25rem solid #101;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem; }
    .account-list > div > div > div:first-of-type img::before {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      background-color: #18cc72;
      z-index: 5; }

.account-item {
  background-color: #f7f9f8;
  color: #101;
  font-size: .8rem;
  border-radius: .25rem;
  overflow: hidden;
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  position: relative; }
  .account-item img {
    position: absolute;
    top: 0;
    left: 0; }
  .account-item h4 {
    background-color: #f7f9f8;
    color: #101;
    padding: .25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden; }
  .account-item .button {
    display: inline;
    height: 4rem; }

.pane {
  border: 1px solid #e0e8e4;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1rem;
  padding: .5rem; }
  .pane > p:first-of-type {
    border-top: 1px solid #a6a6db;
    margin: .5rem;
    padding-top: .5rem; }

.schedule {
  height: 32rem;
  border: 1px solid #e0e8e4;
  border-radius: .5rem;
  margin: 1rem;
  overflow: hidden; }
  .schedule header {
    color: #101;
    background-color: #f7f9f8;
    border-bottom: 1px solid #e0e8e4; }
  .schedule .schedule-view {
    background-color: #f7f9f8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .schedule .schedule-view .schedule-week {
      width: 100%;
      height: 70%;
      overflow-x: auto;
      display: flex;
      flex-direction: row; }
      .schedule .schedule-view .schedule-week .schedule-day {
        background-color: #e0e8e4;
        color: #101;
        min-width: 40%;
        height: 100%;
        border-right: 1px solid #b9b0c6;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-x: auto; }
        .schedule .schedule-view .schedule-week .schedule-day:nth-child(even) {
          background-color: #ebf0ee; }
        .schedule .schedule-view .schedule-week .schedule-day h3 {
          background: #b9b0c6;
          color: #171738;
          padding: 1% 0;
          font-size: 1rem;
          padding: .25rem;
          overflow: hidden;
          color: white;
          border-bottom: 1px solid #b9b0c6; }
    .schedule .schedule-view .schedule-details {
      height: 30%;
      background-color: #f7f9f8;
      padding: .5rem; }
      .schedule .schedule-view .schedule-details .schedule-summary {
        padding: .25rem; }
      .schedule .schedule-view .schedule-details .schedule-extra {
        padding: .25rem; }

.schedule-event {
  padding: .25rem;
  margin: .25rem;
  background-color: #fff;
  border: 1px solid #c8d6cf;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  cursor: pointer;
  transition: .7s border; }

.campaign--header {
  background-color: #f7f9f8;
  color: #101;
  padding: .5rem;
  padding-bottom: 1rem;
  margin-top: -.5rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
  border-radius: .25rem .25rem 0 0; }

.campaign--add {
  text-align: center;
  padding: 2rem;
  font-size: 17px;
  margin: 0 auto;
  display: block;
  margin-top: .50rem;
  background: #18cc72;
  color: #fff;
  width: 100%; }

.campaign-item {
  padding: 0.5rem;
  border: 2px solid #f7f9f8; }

.campaign-item--label {
  padding-right: .25rem;
  font-weight: bold; }

.campaign-item--text {
  padding-left: 1rem; }

.modal-campaign {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0 !important;
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.modal-campaign form {
  display: inline-block;
  max-width: 600px;
  height: auto;
  background: #f7f9f8;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #101;
  padding: 0.5rem; }

.modal-campaign--header {
  color: #101;
  text-align: center;
  padding: 0.5rem; }

.modal-campaign--input {
  border: 1px solid #171738;
  border-radius: 5px;
  margin-left: 0.5rem; }

.modal-campaign--control {
  float: right; }

.modal-campaign--input-wrapper {
  padding: 0.5rem; }

.modal-campaign--block {
  display: inline-block;
  vertical-align: top; }

.modal-campaign--textarea {
  width: calc(100% - 1rem);
  display: block; }

input, textarea {
  padding: .5rem;
  border: 1px solid #c8d6cf;
  display: block;
  width: calc(100% - 1rem); }

.Campaign-add-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load 1s; }

.Campaign-add-form {
  width: 50%;
  background: #e6e6e6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 300px;
  border: 1px solid gainsboro; }

.Campaign-add-form-header, .Campaign-add-form-header-info {
  width: 100%;
  background: #2a2a2a;
  color: white;
  border-bottom: 1px solid white; }

.Campaign-add-form-header-info {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  padding: 1%;
  flex-wrap: nowrap;
  overflow: hidden; }

.Campaign-add-form-content {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 400px; }

.Campaign-add-form-controls {
  background: orange;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1%; }

.Campaign-add-rule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1%;
  width: 100%;
  padding: 0 5%; }

.Campaign-add-rule-header {
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 1%;
  padding: 0 2%;
  border-bottom: 1px solid black;
  background: #f39f02; }

.Campaign-add-rule-header:hover {
  background: orange; }

.Campaign-add-rule-add-btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid black; }

.Campaign-add-rule-add-btn {
  background: green; }

.Campaign-add-rule-add-btn:hover {
  border: 1px solid royalblue; }

.Campaign-add-rule-remove-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.Campaign-add-rule-remove-btn span {
  color: white;
  transition: 0.5s color;
  cursor: pointer; }

.Campaign-add-rule-remove-btn span:hover {
  color: red; }

.Campaign-add-rule-item {
  flex: 1;
  display: flex;
  padding: 0 1%;
  background: #373739;
  position: relative;
  color: white;
  border: 1px solid black;
  flex-wrap: nowrap; }

.Campaign-add-rule-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.Campaign-add-rule-display {
  width: 90%;
  position: relative;
  background: blue;
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.Campaign-add-info {
  display: flex;
  flex-direction: column;
  padding: 0 2%; }

.Campaign-add-info input, textarea, select {
  flex: 1;
  margin: 1%;
  padding: .5rem; }

#rule-input, #tag-input {
  flex: 1;
  padding: 1rem; }

textarea {
  flex: 1;
  resize: none;
  height: 200px;
  display: flex; }

.Register-wrapper {
  display: flex;
  flex-direction: column; }
  .Register-wrapper .Register-types, .Register-wrapper .Register-form {
    margin-left: -.5rem;
    margin-right: -.5rem; }
  .Register-wrapper .Register-types {
    display: flex;
    flex-direction: row;
    margin-top: -.5rem; }
    .Register-wrapper .Register-types div {
      width: 50%;
      display: flex;
      background-color: #e0e8e4;
      padding: 1rem; }

.Register-form {
  display: flex;
  flex-direction: column;
  display: block;
  margin-bottom: -.5rem;
  padding: 1rem;
  border-radius: 0 0 .5rem .5rem; }
  .Register-form label, .Register-form input {
    display: block; }
  .Register-form label {
    font-family: 'Varela Round';
    font-weight: 700; }
  .Register-form input:not([type='submit']) {
    font-size: 1.5rem;
    padding: .5rem;
    margin: 1rem 0;
    border: #c8d6cf;
    border-radius: .5rem;
    box-shadow: 0 0 0.5rem #c8d6cf;
    width: 100%; }

.Register-img {
  margin: 1rem; }

.Profile-wrapper {
  width: 100%;
  height: 100%;
  display: flex; }

.Profile-logo {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Profile-logo img {
    width: 60%;
    height: 60%;
    border-radius: 60%;
    padding: 1rem; }

.Profile-contact {
  display: 'none'; }

.Messages-wrapper {
  display: flex;
  flex-direction: column; }
  .Messages-wrapper .Messages-rs {
    background: #e3e0e8; }
    .Messages-wrapper .Messages-rs > * {
      background-color: #fff; }

.msg {
  background: black; }

.Messages-header {
  padding: 1rem 0;
  border-bottom: 0.25rem solid #67597a; }

input[type=submit], textarea {
  margin: .5rem; }
