body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Varela', sans-serif;
}

.hero-heading {
  font-family: 'Varela', sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  text-shadow: 0 .125em .25em transparentize($brand-black, .4);
}
