.Campaign-list {
  width: 100%;
  background: rgb(42, 42, 42);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}
.Campaign-wrapper {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden
}

.Campaign-header {
  width: 100%;
  height: 5%;
  background: black;
  color: white;
  padding: 1% 0;
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
}
.Campaign-item {
  width: 100%;
  background: rgb(198, 198, 198);
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Campaign-item-id {
  height: 100%;

  padding: 1%;
  background: red;
}

.Campaign-item-title {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%; 
}

.Campaign-stats {
  width:100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Campaign-stat {
  height: 150px;
  width: 150px;
  background: rgb(108, 108, 108);
  margin: 1%;
  display: inline-block;
  border-radius: 5px;
}

.Campaign-stats-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}