.Home-wrapper {
  background: rgb(157, 155, 155);
  width: 100%;
  height: calc(100% - 72px - 40px);
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.Home-bg {
  width: 50%;
  max-width: 600px;
  align-self: center;
  position: absolute;
  opacity: 0.2;
  z-index: 0;
}

.Home-welcome {
  width: 95%;
  height: 20%;
  background: rgb(0, 0, 0);
  z-index: 1;
  margin: 20px 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgb(73, 73, 73);
  padding: 10px;
  border-radius: 5px;
}


.Home-Accounts {
  width: 80%;
  height: 70%;
  background: rgba(135, 135, 135, 0.05);
  display: flex;
  z-index: 1;
  margin: 20px;
  opacity: 0.9;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.Home-Accounts-info {
  height: flex 1;
  width: 350px;
  height: 300px;
  flex: 1;
  background: rgb(96, 114, 122);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px; 
  border-radius: 10px;
  overflow:hidden;
  color: white;
}
.Home-Accounts-info-title {
  width: 100%;
  background: rgb(49, 49, 49);
  text-align: center;
  padding: 10px 0;
}
