::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

:::-webkit-scrollbar{
  width: 5px
}

/* Track */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(233, 74, 0);
  border: 1px solid rgb(202, 202, 202);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 94, 0);
}

#root, body, html, .app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  display: block
}


