
.IG-list {
  background: rgb(182, 182, 182);
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.IG-list-header {
  background: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5% 0;
}

.IG-list-wrap {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  flex-direction: row;
  padding: 0;
  width: 100%;
  height:98%;
  justify-content: center;
  align-items: center;
}

.IG-display {
  background: rgb(57, 57, 57);
  display: flex;
  justify-content: flex-start;
  transition: height 1s;
  align-items:center;
  overflow-y: hidden;
  overflow-x: hidden;
  flex-direction: column;
}

.IG-display-header {
  background: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.5% 0;
  margin: 0;
}
.IG-display-header img {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 1s;
}
.IG-display-header img:hover {
  opacity: 1;
}

.IG-item {
  width: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.5rem;
  padding: 5px 2.5  px;
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 10px;
  color: white;
  font-weight: 700;
  text-shadow: 0px 0px black;
  box-shadow: 0px 0px 2px 0px black;
  cursor: pointer;
  transition: 0.7s border;
}
.IG-item:hover {
  border: 1px solid white;
}

.IG-item-img {
  border: black;
  border-radius: 100%;
  overflow: hidden;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  background: white;
  margin-bottom: 1%; 
}
.IG-disabled {
  padding:0.5%;
  color: rgb(236, 236, 236);
  background: rgb(128, 128, 128);
  border: 1px solid black;
  opacity: 0;
  font-size: 0.7rem;
  z-index: 1;
  position: absolute;
  transition: 1s opacity;
  cursor: not-allowed;
  border-radius: 2px;
}
.IG-disabled:hover {
  opacity: 1;
}
.IG-add {
  background: 'red';
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
  transition: border 0.7s;
  z-index: 0;
}

.IG-add:hover {
  border: 1px solid white;
}

.IG-display-blob {
  background: rgb(78, 78, 78);
  border-radius: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  animation: IG-blob-load 1s;
  overflow: auto;
  line-break: auto;
  text-align: center;
}

@keyframes IG-blob-load {
  from{opacity: 0};
  to{opacity: 1};
}

