::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(233, 74, 0);
  border: 1px solid rgb(202, 202, 202);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 94, 0);
}
.IG-list {
  background: rgb(182, 182, 182);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.IG-list-header {
  background: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5% 0;
}

.IG-list-wrap {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  flex-direction: row;
  padding: 10px 0;
  width: 100%;
  height:98%;
  justify-content: center;
  align-items: center;
}

.IG-display {
  width: 100%;
  background: rgb(57, 57, 57);
  display: flex;
  justify-content: flex-start;
  transition: height 1s;
  align-items:center;
  border-top:1px solid white;
  overflow: hidden;
  flex-direction: column;

}

.IG-display-header {
  background: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.5% 0;
}
.IG-display-header img {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 1s;
}
.IG-display-header img:hover {
  opacity: 1;
}

.IG-item {
  width: 80px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 10px;
  color: white;
  text-shadow: 1px 1px black;
  font-weight: 700;
  box-shadow: 0px 0px 2px 0px black;
  cursor: pointer;
  transition: 0.7s border;
}
.IG-item:hover {
  border: 1px solid white;
}

.IG-item-img {
  border: black;
  border-radius: 100%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
}
.IG-display-blob {
  background: rgb(235, 234, 234);
  border-radius: 5px;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: IG-blob-load 1s ;
}

@keyframes IG-blob-load {
  from{opacity: 0};
  to{opacity: 1};
}

