
.IG-list {
  background: rgb(182, 182, 182);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.IG-list-header {
  background: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white; 
}
.IG-list-header div {
  padding-left:10px; 
}

.IG-list-wrap {
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  padding: 0 20px;
  width: 100%;
  height:100%;
  justify-content: flex-start;
  align-items: center;
  background: #171738;
}

.IG-display {
  background: rgb(57, 57, 57);
  display: flex;
  justify-content: flex-start;
  align-items:center;
  overflow-y: hidden;
  overflow-x: hidden;
  flex-direction: column;
}

.IG-display-header {
  background: #171738;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.5% 0;
  margin: 0;
}
.IG-display-header img {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 1s;
}
.IG-display-header img:hover {
  opacity: 1;
}

.IG-add-item {
  background: rgb(78, 78, 77);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s height;
}

.IG-item {
  width: 70px;
  min-width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  padding: 5px 2.5px;
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 10px;
  color: white;
  background: #67597A;
  text-shadow: 0px 0px black;
  box-shadow: 0px 0px 2px 0px black;
  cursor: pointer;
  transition: 0.7s border;
}
.IG-item:hover {
  border: 1px solid white;
}

.IG-item-title{
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}
.IG-item-title div {
  width: 85%;
  overflow: hidden;
  white-space: nowrap;
}

.IG-item-img {
  background: black;
  border: black;
  border-radius: 100%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  background: white;
  margin-bottom: 1%; 
}


.IG-add {
  background: #00AA5D; 
  padding: 5px;
  color: white;
  border-radius: 5px; 
  cursor: pointer; 
  border: 1px solid black; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  transition: 0.7s border;
}

.IG-add:hover {
  border: 1px solid white;
}
.IG-add-form {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
}
.IG-display-blob {
  background: rgb(78, 78, 78);
  border-radius: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  line-break: auto;
  text-align: center;
}

@keyframes IG-blob-load {
  from{opacity: 0};
  to{opacity: 1};
}

