.Platform-list {
  width: 80%;
  background: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}
.Platform-list-wrapper {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Platform-search {
  background: rgb(41, 41, 41);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Platform-search-dropdown {
  margin-left: 5px;
  background: rgb(51, 51, 51);
  color: white;
}

.Platform-no_match {
  width: 100%;
  background: rgb(0, 0, 0);
  padding: 10px 0;
  color: white;
}

.Platform-search-wrapper{
  background: rgb(62, 62, 62);
  width: 95%;
  display: flex;
  padding: 5px;
  color: rgb(0, 0, 0);
  color: white;
  align-items: center;
}
.Platform-search-wrapper input {
  width: 80%;
  flex: 1;
  margin-left: 5px;
}

.Platform-item {
  width: 90%;
  margin: 5px;
  background: rgb(30, 0, 128);
}

.Platform-tabs{
  width: 100%;
  height: 20px;
  background: red;
  display: flex;
}

.Platform-tabs-tab, .Platform-tabs-contact {
  height: 100%;
  background: rgb(137, 136, 136);
  border: 1px solid black;
  flex: 1;  
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s border;
  font-size: calc(5px + 0.9vw);
  font-weight: 700;
  overflow: hidden;
}
.Platform-tabs-contact {
  cursor: pointer;
  background: red;
}
.Platform-tabs-contact:hover{
  border: 1px solid royalblue;
}

.Platform-details {
  width: 100%;
  background: rgb(50, 50, 50);
  color: rgb(0, 0, 0);
}

.Platform-details div {
  height: 100%;
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
}