.Scheduler-wrapper {
  width: 100%;
  height: 100%;
  background: rgb(181, 4, 4);
  display: flex;
  border-bottom: 1px solid black;
}

.Scheduler-header {
  width: 100%;
  height: 5%;
  background: black;
  color: white;
  padding: 1% 0;
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
}

.Scheduler-week {

  height: 100%; 
  max-width: 7500px;
  min-width: 100px;
  background: rgb(25, 115, 0);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

.Scheduler-day {
  min-width: 100px;
  height: 100%;
  border-right: 1px solid black;
  background: rgb(132, 132, 132);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: auto;
}
.Scheduler-day-title {
  background: rgb(42, 81, 118);
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 1% 0;
  font-size: 0.7rem;
  overflow: hidden;
  color: white;
  border-bottom: 1px solid black;
}
.Scheduler-events {
  width: 100%;
  height: 95%;
  background: rgb(32, 48, 62);
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.7rem;
  color:white;
}

.Scheduler-event {
  width: 98%;
  background: rgb(228, 228, 228);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 0.7s border;
  color: black;
}
.Scheduler-event:hover{
  border: 1px solid rgb(13, 122, 255);
}
.Scheduler-event-id {
  background: rgb(64, 64, 64);
  width: 20px;
  height: 20px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Scheduler-event-name {
  width: 100%;
}

.Scheduler-details {
  min-width: 200px;

  height: 100%;
  background: blue;
  border-left: 2px solid black; 
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Scheduler-details-header {
  width: 100%;
  height: 5%;
  padding: 5px 0;
  background: rgb(198, 198, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  border-bottom: 1px solid black;
}

.Scheduler-details-total_events {
  width: 100%;
  height: 25%;
  background: rgb(87, 113, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  border-bottom: 1px solid black;
  text-align: start;
}

.Scheduler-details-extra {
  width: 100%;
  height: 70%;
  background: rgb(35, 69, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  border-bottom: 1px solid black;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
}
.Scheduler-extra {
  width: 100%;
  height: 100%;
  text-align: start;
}
.Scheduler-extra span {
  color: red;
  font-weight: 700;
}

.Scheduler-extra div, .Scheduler-details-total_events div {
  width: 98%;
  background: rgb(49, 49, 49); 
  color: white;
  border-bottom: 1px solid black; 
  padding: 1%;
}


