.Settings-sidebar {
  height: 100%; 
  display: flex; 
  background: rgb(32, 48, 62); 
  position: absolute; 
  z-index: 2;
  transition: 0.7s width;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid rgb(184, 184, 184);
}

.Settings-block {
  width: 100%;
  background: blue;
  border: 1px solid black;
  display: 'flex';
  flex-direction: column;

}
.Settings-block-item {
  width: 100%;
  background: teal;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
