.TL-wrapper{
  width: 100%;
  height: 250px;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.TL-section-A {
  width: 15%; 
  height: 100%;
  border-right: 3px solid black; 
}

.TL-section-B {
  width: 85%; 
  height: 100%; 
}
.TL-chart-A, .TL-chart-B {
  width: 100%; 
  height: 50%; 
  background: rgb(35, 69, 100);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.TL-chart-A img, .TL-chart-B img {
  width: 100%;
  height: 100%;
}
