*, *:before, *:after {
    box-sizing: border-box;
}

html,
body,
main,
header,
footer,
aside,
section,
div,
span,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
form,
input,
textarea,
label {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: #171738;
    min-width: 300px;
}