.pane {
  border: 1px solid darken($brand-gray, 8%);
  border-radius: .5rem;
  background-color: $brand-white;
  margin: 1rem;
  padding: .5rem;

  > p:first-of-type {
     border-top: 1px solid lighten($brand-blue, 60%);
     margin: .5rem;
     padding-top: .5rem;
  }

  h3 {
    color: lighten($brand-blue,10%);
  }
}
