.account-item {
  background-color: $brand-gray;
  color: $brand-black;
  font-size: .8rem;
  // border: .25rem solid $brand-black;
  border-radius: .25rem;
  overflow: hidden;
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }

  h4 {
    background-color:$brand-gray;
    color: $brand-black;
    padding: .25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    overflow: hidden;
  }

  .button {
    display: inline;
    height: 4rem;
  }
}
