.account-list {
  position: relative;
  padding: 1rem;
  background-color: $brand-black;
  border-bottom: 0.5rem solid rgb(0, 85, 47);
  
  

  > div >div > div:first-of-type {
    border: .25rem solid $brand-black;
    border-radius: 0;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;

    img::before {
      content: '';
      width: 1rem;
      height: 1rem;
      background-color: $brand-green;
      z-index: 5;
    }
  }
}
